[Unit]
Description=Output IP Addr
After=network.target

[Service]
Type=oneshot
ExecStart=python3 /home/pi/Desktop/Python-For-Asteroids-master/ipdisp.py
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
